<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <div style=" text-align: center; background-color: gold; border: 10px solid black;border-radius: 10%;">
        <h2 style=" height: 30px;;color: black; border: 2px solid black;">Edit Your Post Content</h2>
        
        <p style="color: black; border: 2px solid black; font-weight: bolder;">Post id: <%= post.id %></p>
        <p style="color: black; border: 2px solid black; font-weight: bolder;">Post Username: <%= post.username %></p>
        <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
            <textarea name="content" style="height: 200px; width: 200px;background-color: azure;"> <%= post.content %></textarea>
            <br><br>
            <button style="background-color: blue; color: azure; font-weight: bolder; border: 2px solid white;">Submit</button>
        </form>

    </div>
    
</body>
</html>