<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input  name="username" placeholder="Enter username" style="height: 20px; width: auto;">
        <br>
        <br><br>
        <textarea placeholder="Wrte your post" name="content"></textarea>
        <br>
        <br>
        <button>Upload</button>
    </form>
    
</body>
</html>